<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création de la facture</title>
</head>
<body>

<form th:action="@{/invoice}" method="post" th:object="${invoiceForm}">

    <p>Nom du client <input type="text" th:field="*{customerName}"/></p>
    <div th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>

    <p>Numéro de commande <input type="text" th:field="*{orderNumber}"/></p>
    <div th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></div>

    <input type="submit" value="OK"/>
</form>


</body>